@model RS1_Ispit_asp.net_core.ViewModels.PrikazUcenikaVm

<table class="table table-bordered" border="1">
    <thead>
        <tr>
            <th>Ucenik</th>
            <th>Prosjek ocjena</th>
            <th>Pristupio ispitu</th>
            <th>Rezultat maturskog (max 100)</th>
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.Ucenici)
        {
            <tr>
                <td>@x.ImePrezime</td>
                <td>@x.Prosjek</td>
                <td>
                    @if (x.Pristupio == "DA")
                    {
                        <a ajax-poziv="da" ajax-rezultat="ajaxDiv" href="/ajax/ucenikJeOdsutan?id=@x.ID" style="background-color:green; color:white; font-weight:bold;">@x.Pristupio</a>
                    }
                    else
                    {
                        <a ajax-poziv="da" ajax-rezultat="ajaxDiv" href="/ajax/ucenikJePrisutan?id=@x.ID" style="background-color:red; color:white; font-weight:bold;">@x.Pristupio</a>
                    }
                </td>
                <td>
                    @if (x.Rezultat == null)
                    {
                        <p>X</p>
                    }
                    else
                    {
                        <form class="forma" action="/ajax/spremiRezultat" ajax-poziv="da" ajax-rezultat="ajaxDiv">
                            <input name="id" value="@x.ID" hidden/>
                            <input name="rezultat" type="number" max="100" value="@x.Rezultat" />
                            <button class="btn btn-success">Spremi</button>
                        </form>
                    }
                </td>
                <td>
                    @if (x.Pristupio == "DA")
                    {
                        <a ajax-poziv="da" ajax-rezultat="ajaxDiv" href="/ajax/UrediRezultat?id=@x.ID">Uredi</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<style>
    td, th {
        text-align: center;
    }
    th {
        color: black;
        font-weight: bold;
    }
</style>